YarTransport/YarTransportGUI/Connected Services/TransportServiceReference/TransportService42.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://yartransportcloudservice.cloudapp.net/TransportService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SearchWaySystem" />
  <xs:import schemaLocation="http://yartransportcloudservice.cloudapp.net/TransportService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetRoutes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pointOfDeparture" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pointOfDestination" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isBusChecked" type="xs:boolean" />
        <xs:element minOccurs="0" name="isTrolleyChecked" type="xs:boolean" />
        <xs:element minOccurs="0" name="isTramChecked" type="xs:boolean" />
        <xs:element minOccurs="0" name="isMiniBusChecked" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoutesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SearchWaySystem" minOccurs="0" name="GetRoutesResult" nillable="true" type="q1:ArrayOfRouteInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetStationsResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>