YarTransport/YarTransportGUI/Connected Services/TransportServiceReference/TransportService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TransportService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://yartransportcloudservice.cloudapp.net/TransportService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://yartransportcloudservice.cloudapp.net/TransportService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://yartransportcloudservice.cloudapp.net/TransportService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SearchWaySystem" />
      <xsd:import schemaLocation="http://yartransportcloudservice.cloudapp.net/TransportService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITransportService_GetRoutes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRoutes" />
  </wsdl:message>
  <wsdl:message name="ITransportService_GetRoutes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRoutesResponse" />
  </wsdl:message>
  <wsdl:message name="ITransportService_GetStations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStations" />
  </wsdl:message>
  <wsdl:message name="ITransportService_GetStations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStationsResponse" />
  </wsdl:message>
  <wsdl:portType name="ITransportService">
    <wsdl:operation name="GetRoutes">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransportService/GetRoutes" message="tns:ITransportService_GetRoutes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransportService/GetRoutesResponse" message="tns:ITransportService_GetRoutes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStations">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransportService/GetStations" message="tns:ITransportService_GetStations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransportService/GetStationsResponse" message="tns:ITransportService_GetStations_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITransportService" type="tns:ITransportService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRoutes">
      <soap:operation soapAction="http://tempuri.org/ITransportService/GetRoutes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStations">
      <soap:operation soapAction="http://tempuri.org/ITransportService/GetStations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TransportService">
    <wsdl:port name="BasicHttpBinding_ITransportService" binding="tns:BasicHttpBinding_ITransportService">
      <soap:address location="http://yartransportcloudservice.cloudapp.net/TransportService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>